.dotrow {
    text-align: center;
    display: inline-block;
    width: 100%;
}
.dot {
    height: 1.2em;
    width: 1.2em;
    margin: .6em;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;

}

.one{
    animation: color 1.5s infinite;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(1, 0, 0, 0);
}

.two{
    animation: color 1.5s infinite;
    /* animation-timing-function: ease-in-out; */
    animation-delay: .5s;
    animation-timing-function: cubic-bezier(0, 1, 0, 0);
}

.three{
    animation: color 1.5s infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 1s ;
    animation-timing-function: cubic-bezier(0, 0, 1, 0);
}




@keyframes color{
    0%{
        background-color: gray;
        transform: scale(1);
    }
    25%{ background-color:lightgray;
        transform: scale(1.5);
    }
    50%{
        background-color: gray;
        transform: scale(1);
    }
}