.dotrow {
    text-align: center;
    display: inline-block;
    width: 100%;
}
.dot {
    height: 1.2em;
    width: 1.2em;
    margin: .6em;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
}

.one{
    animation-name: color;
    animation-duration: 1.5s;
    animation-iteration-count:infinite;
}

.two{
    animation-name: color;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
}

.three{
    animation-name: color;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
}

.four{
    animation-name: color;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
}


@keyframes color{
    from{ background-color: gray }
    to{ background-color:lightgray}
}